:root{
    --bg-color: #ffffff;
    --font-color: rgba(34, 83, 168, 0.914);
    --header-color: #d2ff3d;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
}

img{
    max-inline-size: 60%;
}

.website_cover_parent{
    display: flex;
    justify-content: center;
}

.website_cover_parent > a{
    text-align: center;
}

#website_cover{
    padding-bottom: 3rem;
    height: auto;
    cursor: pointer;
}

#nav_bar {
    display: flex;
    margin-bottom: 2rem;
    background-color: var(--header-color);
    max-width: 800px;
    justify-content:space-around;
    margin-inline: auto;
    padding: 0.8rem;
    border-radius: 50px;
}

#nav_bar > a{
    color: var(--font-color);
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.5px;
}

#nav_bar > a:hover{
    color: rgb(244, 11, 11);
    cursor: pointer;
}

body {
    background-color: var(--bg-color);
    line-height: 1.6;
}

/* .contact_me{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.contact_me ::placeholder{
    text-align: center;
}

.contact_me label{
    display: inline-block;
    width: 150px;
    vertical-align:top;
}

.contact_me input, 
.contact_me textarea{
    width: 280px;
    padding: 0.8vh;
    margin-bottom: 1.5vh;
}

.contact_me .required::after{
    content: "*";
    color: red;
}

.contact_me label + input {
    background-color: rgb(219, 248, 237);
}

.contact_me textarea{
    width: auto;
}

.contact_me #myta{
    margin-top: 1rem;
}

.contact_me #resetBtn{
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-right: 2vw;
}

.contact_me #resetBtn:hover{
    background-color: #3d7cc4;
    color: #15fb52;
}

.contact_me #submitBtn {
    background-color: #eb6f2c;
    color: white;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.contact_me #submitBtn:hover {
    background-color: #d15a1b;
    color: #15fb52;
} */

.project_table{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.project_table caption{
    background-color: var(--header-color);
    font-size: 25px;
    font-weight: bold;
    color: var(--font-color);
    letter-spacing: 0.5px;
    margin-bottom: 14px;
    padding: 0.8rem;
    border-radius: 50px;
    max-width: 800px;
    margin-inline: auto;
}

.project_table table{
    border: 2px solid black;
    margin: 0 auto;
    border-spacing: 1.5rem;
    border-collapse: separate;
    width: 80%;
    border-radius: 40px;
}

.project_table th{
    border: 3px solid blue;
    border-radius: 50px;
    color: rgb(255, 4, 4);
    text-align:center;
    padding: 5px;
}

.project_table tr:nth-child(1n+2){
    background-color: #dcef90;
}

.project_table td:nth-child(2n+2){
    font-style: italic;
}

.project_table td:nth-child(3){
    font-weight: bold;
}

.project_table td{
    vertical-align: top;
    padding: 0.5vw;
    text-align: center;
    border-radius: 50px;
}

.project_table td:hover{
    color: rgb(57, 25, 244);
    cursor: text;
}

footer{
    display: flex;
    color: rgb(255, 0, 0);
    margin-top: 75px;
    justify-content: end;
}