@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background: #151f28;
}

.square{
    position: relative;
    width: 550px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square i{
    position: absolute;
    inset: 0;
    border: 1px solid #fff;
    transition: 0.5s;
}

.square i:nth-child(1){
    border-radius: 38% 62% 63% 37% / 41%
    44% 56% 59%;
    animation: animate 6s linear infinite;
}

.square i:nth-child(2){
    border-radius: 41% 44% 56% 59% / 38%
    62% 63% 37%;
    animation: animate 10s linear infinite;
}

.square i:nth-child(3){
    border-radius: 41% 44% 56% 59% / 38%
    62% 63% 37%;
    animation: animate2 10s linear infinite;
}

.square:hover i{
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes animate2{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.login{
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login h2{
    font-size: 2em;
    color: #fff;
}

.login .inputbox{
    position: relative;
    width: 100%;
}

.login .inputbox input{
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border: 2px solid #fff;
    font-size: 1.2em;
    border-radius: 40px;
    box-shadow: none;
    outline: none;
    color: #fff;
}

.login .inputbox input[type="submit"]{
    width: 100%;
    background: #0078ff;
    background: linear-gradient(45deg, #3cff35, #0a23e3);
    border: none;
    cursor: pointer;
}

.login .inputbox input::placeholder{
    color: rgba(255, 255, 255, 0.75);
}

.links{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.login .links a{
    color: #fff;
    text-decoration: none;
}

.login #goback{
    margin-inline: auto;
    transition: background ease 5s;
}