 * {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: square;
}

 .underheader{
    border: solid rgb(164, 237, 62);
 }

 .nav_bar {
    display: flex;
    background-color: #374151;
    padding: 15px;
    text-align: center;
    justify-content: center;
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: -30px;
}

.nav_bar a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.nav_bar a:hover {
    color: #ffe342;
    text-decoration: underline;
}


#currentDate{
    text-align: right;
    color: #f0701b;
    flex-wrap: wrap;
}
 
 main {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}

 body {
    background-color:white;
    line-height: 1.6;
}

.professional_text p{
    line-height: 1.6;
}

.sectionheader h2,
.sectionheader h3,
.sectionheader h4{
    color: rgb(14, 179, 154);
    display: flex;
    justify-content: center;
}

.technical_skills li{
    padding-bottom: 5px;
}

#projects_center{
    display: grid;
    justify-content: center;
    margin-right: 70px;
    margin-top: -10px;
    
}

table{
    margin: 14px;
    border-collapse: separate;
    border-spacing: 7px;
    padding: 7px;
    width: 99%;
}

caption{
    font-size: 25px;
    font-style: italic;
    color: rgb(242, 66, 178);
    letter-spacing: 2px;
    text-decoration: underline;
    margin-bottom: 14px;
}
th{
    font-style: italic;
    font-variant: small-caps;
    color: darkolivegreen;
}

td{
    border: 1px solid;
    vertical-align: top;
    padding: 7px;
}

#showBtn0{
    float: right;
    background-color: #eae70f;
    justify-content: center;
    width: auto;
    border-radius: 50px;
    font-size: 15px;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#showBtn0:hover{
    background-color: #e0dd48;
    color: #153ffb;
}

header {
    background-color: #1f2933;
    color: #ffffff;
    padding: 1.5rem;
    text-align: center;
}

.center_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    flex: 0 1 50%;
}

.center_container .form_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    max-width: 900px;
    text-align: center;
}

.center_container .form_column {
    display: flex;
    flex-direction: column;
}

.center_container .form_column label {
    margin-top: 0.75rem;
    font-weight: 600;
}


.center_container .form_column input,
.center_container .form_column textarea,
.center_container .form_column select {
    margin-top: 0.25rem;
    padding: 0.2rem;
    font-size: 1rem;
}

fieldset {
    margin-bottom: 1rem;
    padding: 0.75rem;
}

.form_buttons {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    max-width: 100%;
}

.form_buttons input[type="submit"],
.form_buttons input[type="reset"]{
    padding: 10px 20px;
    width: auto;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 40px;
    border: none;
    background: #0078ff;
    background: linear-gradient(45deg, #3cff35, #0a23e3);
        
}

.sectionheader section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sectionheader ul {
    list-style-position: inside;
    padding: 0;
    text-align: left;
}

@media (max-width: 768px){
    .center_container .form_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    width: 90%;
}
    .form_buttons {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        border-radius: 40px;
    }
    .form_buttons input[type="submit"],
    .form_buttons input[type="reset"]{
        padding: 10px 20px;
        width: auto;
        font-size: 0.9rem;
        cursor: pointer;
        margin: 0 auto;       /* Centers them if they are in a grid */
        border-radius: 40px;
        border: none;
        background: #0078ff;
        background: linear-gradient(45deg, #3cff35, #0a23e3);
        
}
}

footer{
    color: rgb(255, 0, 0);
    text-align: right;
}