 .underheader{
    border: solid rgb(164, 237, 62);
 }
 
 main {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}

 body {
    background-color:white;
    line-height: 1.6;
}

.professional_text p{
    line-height: 1.6;
}

.sectionheader h2,
.sectionheader h3{
    color: rgb(14, 179, 154);
    display: flex;
    justify-content: center;
}

.technical_skills li{
    padding-bottom: 5px;
}

#projects_center{
    display: grid;
    justify-content: center;
    margin-right: 70px;
    margin-top: -10px;
    
}

table{
    margin: 14px;
    border-collapse: separate;
    border-spacing: 7px;
    padding: 7px;
    width: 99%;
}

caption{
    font-size: 25px;
    font-style: italic;
    color: rgb(242, 66, 178);
    letter-spacing: 2px;
    text-decoration: underline;
    margin-bottom: 14px;
}
th{
    font-style: italic;
    font-variant: small-caps;
    color: darkolivegreen;
}

td{
    border: 1px solid;
    vertical-align: top;
    padding: 7px;
}

#showBtn0{
    float: right;
    background-color: #eae70f;
    justify-content: center;
    width: auto;
    border-radius: 50px;
    font-size: 15px;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#showBtn0:hover{
    background-color: #e0dd48;
    color: #153ffb;
}

nav {
    background-color: #374151;
    padding: 0.75rem;
    text-align: center;
}

nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffe342;
    text-decoration: underline;
}

header {
    background-color: #1f2933;
    color: #ffffff;
    padding: 1.5rem;
    text-align: center;
}

.form_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10rem;
    max-width: 900px;
}

.form_column {
    display: flex;
    flex-direction: column;
}

.form_column label {
    margin-top: 0.75rem;
    font-weight: 600;
}

.form_column input,
.form_column textarea,
.form_column select {
    margin-top: 0.25rem;
    padding: 0.2rem;
    font-size: 1rem;
}

fieldset {
    margin-bottom: 1rem;
    padding: 0.75rem;
}

.form_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    max-width: 30px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: square;
}

#currentDate{
    position: absolute;
    right: 20px;
    padding-top: 60px;
    color: #f0701b;
}

#title_principal{
    text-align: center;
    color: #cd0b0b;
    margin-bottom: 20px;
}

footer{
    color: rgb(255, 0, 0);
    text-align: right;
}