body { 
    transition: background-color 0.5s ease, transform 0.5s ease; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.buttons{
    box-sizing: border-box;

}

.buttons #bgBtn,
.buttons #regretBtn{
    background: linear-gradient(45deg, #0924f1, #0ae32b);
    border-radius: 50px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    padding: 20px;
    border: 20px;
    width: 400px;
}



